$player-number: 8;

body {
  margin: 0;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/img/london.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-title {
  font-family: 'Bangers', cursive;
  font-size: 10rem;
}

.timeBombImage {
  position: absolute;
  top: 30px;
}

.playerform {
  text-align: center;
}
.nicknameLabel{
  font-weight: bolder;
  font-size: 15px;
}
.formfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

#nickname-input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: rgb(192, 192, 192) 2px 2px 0px 0px inset;
  text-align: center;
}


.btn {
  display: inline-block;
  position: relative;
  padding: 0.4rem 1rem 0.3rem;
  margin: 0.2rem;
  color: black;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 228, 0);
  box-shadow: rgba(0, 0, 0, 0.5) 0.2rem 0.2rem 1px 0px;
  border-top: 2px solid rgb(255, 246, 167);
  border-bottom: 2px solid rgb(243, 187, 0);
  cursor: pointer;
  user-select: none;
  outline: none;
  text-decoration: none;
  transition: all 200ms ease 0s;
}
.btn:active {
  top: 0.1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 1px 0px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.layout {
  justify-content: center;
  flex-direction: column;
  position: relative;
  display: flex;
}

.player-hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  column-gap: 1vmin;
  /* width: 100%; */
  max-width: 120vmin;
  width: 120vmin;
  /* margin-right: 3vmin;*/
}

.player {
  position: relative;
  margin: 2vmin;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* background-size: 100%; */
  /* align-items: flex-start; */
  width: 100%;
  height: 54vmin;
  // height: 30rem;
}

.current-player {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  border: 5px solid rgba(81, 203, 238, 1);
  order: -1;
}

.player-role {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 48vmin;
  width: 48vmin;
}

.player-role > img {
  width: 100%;
  height: 100%;
}

.miscCard{
  display: flex;
  flex-direction: column;
  width: 20vmin;
}

.wireCutter{
  display: none;
}

.wireCutter.active {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #63873e;
}

.protection{
  display: none;
}

.protection.active {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("img/shield.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 24vmin;
  height: 100%;
  //position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  //border: 1px solid grey;
  //border-radius: 5%;
  //margin-left: 0.2rem;
  //flex-grow: 1;
}

.pointer {
  cursor: url('/img/wire_cutter_cursor.png'), auto;
}


.card-back {
  background-color: #964d24;
  padding: 1.1vmin;
  background-clip: content-box;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-front {
  background-color: red;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

}

.card div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3vmin;
  box-shadow: 0.3vmin 0.3vmin 1.6vmin 0vmin rgba(0, 0, 0, 0.75);
}

//.card-front  > img {
//  width: 100%;
//  height: 100%;
//  border-radius: 5%;
//}


.card.flip {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.wireImg {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.wireImg.hidden {
  display: none;
}

.bomb {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  //padding: 3px 0px 3px 3px;
  //margin: 5px 1px 3px 0px;
  border: 8px solid red;
}

